[submodule "cah"]
	path = cah
	url = https://github.com/David96/cards_against_humanity.git
	branch = master
[submodule "codenames"]
	path = codenames
	url = https://github.com/David96/codenames.git
	branch = master
[submodule "wizard"]
	path = wizard
	url = https://github.com/David96/wizard.git
	branch = ki-hacks
